app_dependencies:
  type: text
  content: |-
    #!/bin/sh

    # make all
    # docker build
app_deploy:
  type: text
  content: |+
    #/bin/sh
    <<'###'
    Sample Deploy Instructions
    HELM_OPTS="--set clusterIP=${ROOST_CLUSTER_IP},tag=${ROOST_NAMESPACE},namespace=${ROOST_NAMESPACE}"

    helm install <helm-folder> -n <ns> $HELM_OPTS

    kubectl apply -f <file>.yaml
    ###

app_test: []
app_uninstall:
  type: text
  content: |+
    #!/bin/sh

app_docker_compose: docker-compose.yml
build:
  type: text
  content: |-
    #!/bin/sh

    # make all
    # docker build
    docker build -f Dockerfile -t docker-registry-browser:$GIT_COMMIT_ID . 
    docker tag docker-registry-browser:$GIT_COMMIT_ID  docker-registry-browser:latest
deploy:
  type: text
  content: |2
       #/bin/sh
    <<'###'
    Sample Deploy Instructions

    HELM_OPTS="--set clusterIP=${ROOST_CLUSTER_IP},tag=${ROOST_NAMESPACE},namespace=${ROOST_NAMESPACE}"

    helm install <helm-folder> -n <ns> $HELM_OPTS

    kubectl apply -f <file>.yaml
    ###

     
    kubectl apply -n $ROOST_NAMESPACE -f deployment.yml
    kubectl apply -n $ROOST_NAMESPACE -f load-balancer.yml
test: []
uninstall:
  type: text
  content: |+
    #!/bin/sh

dockerCompose: .github/workflows/docker-on-push.yml
lastUpdatedBy: Bhavika Baid
lastUpdatedOn: 2023-01-25T04:10:44.210Z
